:root {
    --main-bg-color: #f4f4f4;
    --main-text-color: #33332d;
    --main-font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
}

main {
    margin: 5%;
}

footer {
    text-align: center;
    background-color: gray;
    height: 150px;
}

.copy {
    padding-top: 50px;
    display: block;
    color: rgb(207, 207, 207);
}

h2 {
    text-align: center;
    margin: 15% 0 5% 0;
    font-size: 3.5rem;
}

/* HEADER */
.h1-header-name {
    font-weight: bold;
    font-size: 4.2rem;
}

.h3-header-description {
    margin: 40px 0;
}

.profile-info {
    margin: 40px 0;
    font-size: 1.1rem;
}

.arrow {
    width: 120px;
}

/* WORK */
.work-experience-item {
    margin: 3% 0;
}

.work-position {
    font-size: 1.2rem;
    font-weight: bold;
}

.cuanto {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.work-date-range {
    padding: 0;
}

.work-description {
    margin: 3% 0;
    border-block-end: solid 5px #d9d9d9;
}


/* EDUCATION */
.education-item {
    margin: 10% 0;
}

.education-icon {
    width: 150px;
}

.education-description {
    font-size: 0.95rem;
}

.education-time-range {
    padding: 0 10%;
    font-weight: bold;
    display: block;
}

.certificate-link {
    color: black;
    text-decoration: underline;
}

.certificate-link:hover {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

/* SKILLS */
[class^="skill-level-"] {
    padding: 10px 10px 0 15px;
}

.skill-level-a-node {
    width: 190px;
}

.skill-level-a {
    width: 150px;
}

.skill-level-b {
    width: 130px;
}

.skill-level-c {
    width: 100px;
}

.skill-level-d {
    width: 80px;
}

.skill-level-e {
    width: 60px;
}

.skill-level-ex {
    width: 220px;
    padding-top: 40px;
}

/* STRONG SIDES */
.strong-sides-item {
    padding: 2% 7%;
    text-align: center;
}

.strong-sides-icon {
    padding: 10%;
    width: 150px;
}

.strong-sides-icon-team {
    width: 170px;
}

.strong-sides-item-team {
    text-align: center;
}

.strong-sides-description {
    font-size: 1.2rem;
    display: block;
}

/* CONTACT ME */
#contact-me {
    text-align: center;
}

.req-image {
    border: solid 5px black;
    border-radius: 10px;
    width: 300px;
    margin: 10% auto 10%;
    height: 293px;
}

.req-inner-image {
    border: solid 5px;
    height: 103%;
    margin: 15px 0 0 15px;
    border-radius: 10px;
    width: 103%;
}

.hero-image {
    width: 269px;
    margin: 1px;
    display: block;
    filter: grayscale(100%);
    border-radius: 5px 0 5px 0;
    margin: 2px 0 0 0;
}

.contact-icon {
    width: 80px;
    margin: 5%;
}


/* HOBBIES */
.hobby-icon {
    width: 90%;
}

.hobby-description {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.hobby-item-center {
    text-align: center;
}


/* rectangles */
.req {
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    border: solid 5px black;
}

.req-inner {
    margin: 10px;
    padding: 2%;
    height: 102%;
    border-radius: 15px;
    border: solid 5px black;
    margin-left: 15px;
}

@media only screen and (max-width: 550px) {
    .arrow {
        margin-top: 50px;
    }

    #skills [class^="col-"],
    #strong-sides [class^="col-"],
    #education [class^="col-"] {
        padding: 2px;
    }
    #hobbies [class^="col-"] {
        padding: 2px;

    }
    h2 {
        font-size: 3rem;
    }

    .profile-info {
        margin: 40px 40px;
    }

    .req-image {
        width: 250px;
        height: 243px;
    }

    .hero-image {
        width: 219px;
    }

    .education-icon {
        width: 90px;
        margin-bottom: 15px;
    }

    .education-description {
        padding: 0 10px;
    }

    .education-time-range {
        padding: 0 0 0 5px;
        font-size: 0.8rem;
    }

    .skill-level-java {
        width: 180px;
    }

    .skill-level-a-node {
        width: 160px;
        padding-left: 0;
        padding-right: 15px;
    }

    .skill-level-a {
        width: 110px;
    }

    .skill-level-b {
        width: 95px;
    }

    .skill-level-c {
        width: 80px;
    }

    .skill-level-d {
        width: 70px;
    }

    .skill-level-e {
        width: 50px;
    }

    .skill-level-ex {
        width: 150px;
        padding-top: 40px;
    }

    .work-date-range {
        font-size: 0.8rem;
    }

    .cuanto {
        font-size: 1rem;
    }

    .hobby-description {
        font-size: 1.08rem;
    }

    .strong-sides-icon {
        width: 120px;
    }

    .strong-sides-icon-team {
        width: 150px;
    }

    .strong-sides-description {
        font-size: 1.08rem;
        padding: 0 10px;
    }

}

@media only screen and (min-width:768px) {
    .arrow {
        margin-top: 150px;
    }

    main {
        margin: 5% 7%;
    }

    .education-description,
    .work-description,
    .strong-sides-description {
        font-size: 1.2rem;
    }

    .strong-sides-icon {
        width: 150px;
    }

    .strong-sides-icon-team {
        width: 180px;
    }

    .profile-info {
        font-size: 1.3rem;
    }

}

@media only screen and (min-width:991px) {
    .arrow {
        margin-top: 240px;
    }

    main {
        margin: 5% 10%;
    }

    .education-description,
    .work-description,
    .strong-sides-description {
        font-size: 1.5rem;
    }

    .strong-sides-icon {
        width: 220px;
    }

    .strong-sides-icon-team {
        width: 250px;
    }

    .profile-info {
        font-size: 1.3rem;
    }

    .skill-level-java {
        width: 220px;
    }

    .skill-level-a-node {
        width: 220px;
    }

    .skill-level-a {
        width: 160px;
    }

    .skill-level-b {
        width: 140px;
    }

    .skill-level-c {
        width: 110px;
    }

    .skill-level-d {
        width: 90px;
    }

    .skill-level-e {
        width: 70px;
    }

    .skill-level-ex {
        width: 250px;
        padding-top: 40px;
    }
}

@media only screen and (min-width:1024px) {
    .arrow {
        margin-top: 240px;
    }

    main {
        margin: 5% 12%;
    }
}

@media only screen and (min-width:1224px) {
    main {
        margin: 5% 15%;
    }
}

@media only screen and (min-width:1440px) {
    main {
        margin: 5% 18%;
    }
}

@media only screen and (min-width:1540px) {
    main {
        margin: 5% 22%;
    }
}

@media only screen and (min-width:1640px) {
    main {
        margin: 5% 25%;
    }
}

@media only screen and (min-width:1740px) {
    main {
        margin: 5% 33%;
    }
}